body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
  display: flex;
  gap: 30px;
}

.checkout-section {
  flex: 2;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid pink;
}

.order-summary {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid pink;
  height: fit-content;
}

h2 {
  color: #ff4fa1;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 12px;
  color: #444;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1.8px solid pink;
  border-radius: 6px;
}

small {
  color: red;
  font-size: 13px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.checkout-btn {
  width: 100%;
  background: #ff4fa1;
  color: #fff;
  padding: 15px;
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.checkout-btn:hover {
  background: #ff2e8b;
}
